.about-dialog {
    -fx-background-color: antiquewhite;
}

.about-dialog > *.button-bar > *.container{
    -fx-background-color: antiquewhite;
}

.about-dialog > *.label.content {
    -fx-font-size: 16px;
    -fx-text-fill: darkblue;
}

.about-dialog:header *.header-panel {
    -fx-background-color: antiquewhite;
}

.about-dialog:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-text-fill: darkblue;
}

.paragraphs-window {
    -fx-background-color: grey;
}

.paragraphs-window > .text-area {
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.paragraph-cell {
    -fx-background-color: antiquewhite;
    -fx-font-size: 18px;
    -fx-text-fill: black;
}

.paragraph-cell:even {
    -fx-background-color: #e1ceb6;
}