.bold {
    -fx-font-weight: bold;
}

.easter-egg {
    -fx-text-fill: blue;
}

.about-dialog {
    -fx-background-color: antiquewhite;
}

.about-dialog > *.button-bar > *.container{
    -fx-background-color: antiquewhite;
}

.about-dialog > *.label.content {
    -fx-font-size: 16px;
    -fx-text-fill: darkblue;
}

.about-dialog:header *.header-panel {
    -fx-background-color: antiquewhite;
}

.about-dialog:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-text-fill: darkblue;
}

.paragraphs-window {
    -fx-background-color: grey;
}

.paragraphs-window > .text-area {
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.paragraph-cell {
    -fx-background-color: antiquewhite;
    -fx-font-size: 18px;
    -fx-text-fill: black;
}

.paragraph-cell:even {
    -fx-background-color: #e1ceb6;
}

.prefs-window {
    -fx-background-color: antiquewhite;
}

/*.prefs-window > *.label.content {*/
/*    -fx-font-size: 16px;*/
/*}*/

.prefs-window .text-header {
    -fx-font-size: 18px;
}

.prefs-grid {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 20;
}

.prefs-window > .separator {
    -fx-min-height: 2;
    -fx-pref-width: 2;
    -fx-background-color: #444;
}

.prefs-window > .hbox {
    -fx-spacing: 10;
}

.party-dialog {
    -fx-pref-height: 400;
    -fx-pref-width: 600;
    -fx-background-color: antiquewhite;
}

.party-grid {
    -fx-background-color: antiquewhite;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 10px;
}

.party-list-cell {
    -fx-background-color: antiquewhite;
    -fx-font-size: 18px;
    -fx-text-fill: black;
}

.party-list-cell:even {
    -fx-background-color: #e1ceb6;
}

.party-list-cell:selected {
    -fx-background-color: #ff4c4c;
}

.party-label-name {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.party-label-section-header {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.state-dialog, .state-scroll, .state-grid {
    -fx-background-color: antiquewhite;
}

.state-dialog > *.label.content {
    -fx-font-size: 14px;
}

.state-grid {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.spell-cell {
    -fx-background-color: antiquewhite;
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

.spell-cell:even {
    -fx-background-color: #e1ceb6;
}

.debug {
    -fx-border-color: red;
    -fx-border-width: 1;
}